html {
  margin: 0 auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: hidden;
  background-color: aliceblue;
  color: rgba(0, 0, 0, 0.69420); 
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

/* Header */
header {
  background: rgb(196, 218, 235);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

#branding {
  display: flex;
  position: absolute;
  left: 0;
  margin-left: 30px;
}

#branding a {
  text-decoration: none;
  font-size: 30px;
  color: inherit;
}

/* Navigation bar */
nav {
  overflow: hidden;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style-type: none;
}

#navitems {
  margin: 0 auto;
  padding: 5px 10px;
  text-decoration: none;
  background-color: transparent;
}

#navitems a:link {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.69420); 
  text-decoration: none;
}

#navitems a:visited {
  color: rgba(0, 0, 0, 0.69420);
}

#navitems a:hover, #navitems a:active {
  color: aliceblue;
}

nav button {
  border: none;
  position: absolute;
  right: 0;
  margin-right: 2%;
  text-decoration: none;
  background-color: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
}

nav button:hover, nav button:active {
  opacity: 0.7;
  color: aliceblue;
}

.fa-moon, .fa-sun {
  font-size: 25px;
}

/* Introduction */
.block {
  background-color: transparent;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#front {
  padding-top: 55px;
}

#intro {
  background-color: transparent;
  margin: 0 auto;
  margin-top: 80px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

/* Profile picture */
#profilepic {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 70%;
  background-color: inherit;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Intro sentences */
#intro h1 {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  color: inherit;
}

/* Double down arrows */
#intro h1 a {
  text-decoration: none;
  color: inherit;
}

#intro h1 a:visited {
  color: inherit;
}

#intro h1 a:hover, #intro h1 a:active {
  opacity: 0.7;
}

.fa-angle-double-down {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 60px;
}

.block h1 {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color: inherit;
}

/* About Me Section */
#aboutme {
  display: inline-block;
  justify-content: left;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#aboutme h2 {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;
  text-align: left;
  line-height: 1.4cm;
  color: inherit;
  font-weight: normal;
}

/* What I am up to */
#agenda {
  margin-bottom: 0px;
}

#agenda ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

#agenda ul a {
  text-decoration: none;
  color: inherit;
}

#agenda ul a:hover {
  opacity: 0.7;
}

.fa-university {
  margin-left: 0px;
  margin-right: 20px;
  font-size: 30px;
  color: darkslateblue;
}

.fa-car {
  margin-left: 0px;
  margin-right: 20px;
  font-size: 30px;
  color: darkgoldenrod;
}

.fa-briefcase {
  margin-left: 0px;
  margin-right: 20px;
  font-size: 30px;
  color: darkgreen;
}

.fa-music {
  margin-left: 0px;
  margin-right: 20px;
  font-size: 30px;
  color: rgb(87, 83, 83);
}

.fa-book {
  margin-left: 0px;
  margin-right: 20px;
  font-size: 30px;
  color: brown;
}

/* Other links */
#otherlinks {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
}

#otherlinks h3 {
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 2%;
  border-radius: 10%;
  color: inherit;
  font-weight: normal;
  background-color: rgb(196, 218, 235);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  border-radius: 10%;
}

#otherlinks h3 a {
  text-decoration: none;
  color: inherit;
}

#otherlinks h3 a:hover, #otherlinks h3 a:active {
  opacity: 0.7;
}

/* Work */
#work {
  display: inline-block;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Job Description */
.job {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobcard {
  margin-top: 20px;
  margin-bottom: 0px;
  height: 175px;
  width: 800px;
  background-color: inherit;
  perspective: 1000px;
  z-index: 2;
}

.jobcard-inner {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.jobcard:hover .jobcard-inner {
  transform: rotateY(180deg);
}

.frontcard {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: rgb(196, 218, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1%;
}

.backcard {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: #5d7cb9d0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(48, 48, 48);
  transform: rotateY(180deg);
  border-radius: 1%;
}

#tech-x_card2019 {
  margin-bottom: 10px;
}

/* Front of the card */
.joblogo {
  margin-left: 5%;
  margin-right: 0px;
  width: 40%;
}

.joblogo img {
  margin: 0 auto;
  width: 100%;
}

#tech-x_logo {
  margin-left: 0px;
  max-width: 50%;
}

.role {
  margin: 0 auto;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.role h2 {
  color: inherit;
  font-size: 25px;
  margin-left: 5%;
  line-height: 1.0cm;
  font-weight: normal;
}

.timeframe {
  margin: 0 auto;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.timeframe h2 {
  color: inherit;
  font-size: 20px;
  margin: 0 auto;
  line-height: 1.2cm;
  width: 100%;
  font-weight: normal;
}

/* Back of the card */
.backcard p {
  font-size: 16px;
  margin: 10%;
  text-align: left;
  color: aliceblue;
}

/* Testimonials */
#testimonials {
  display: inline-block;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
}

#testimonialslides {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0px;
  display: flex;
  width: 50%;
  height: 360px;
  background-color: rgb(196, 218, 235);
  border-radius: 1%;
}

.w3-content, .w3-display-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testy {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.testy p {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  color: inherit;
}

/* w3 CSS Stuff for Slides */
.w3-content{margin-left:auto;margin-right:auto;max-width:980px}
.w3-display-container{position:relative}
.w3-display-container:hover .w3-display-hover{display:block}
span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-center{text-align:center!important}
.w3-section{margin-top:16px!important;margin-bottom:16px!important}
.w3-large{font-size:18px!important}
.w3-text-black{color:rgba(0, 0, 0, 0.69420)!important}
.w3-display-bottommiddle{position:absolute;left:50%;bottom:0;
  transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-left{float:left!important}.w3-right{float:right!important}
.w3-hover-text-khaki:hover{opacity: 0.7!important}
.w3-badge{background-color:#000;color:rgba(0, 0, 0, 0.69420);display:inline-block;
  padding-left:8px;padding-right:8px;text-align:center;border-radius:50%}
.w3-border{border:1px solid #000!important}
.w3-transparent{background-color:transparent!important}
.w3-black,.w3-hover-black:hover{color:#000!important;background-color:rgba(0, 0, 0, 0.69420)!important}
.w3-left, .w3-right, .w3-badge {
  cursor: pointer;
}
.w3-badge {height:13px;width:13px;padding:0}

/* Footer */
footer {
  background-color: rgb(196, 218, 235);
  box-shadow: 2px 0 4px 0 rgba(0,0,0,0.2);
  margin: 0 auto;
  margin-top: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
}

footer h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  color: inherit;
}

footer h3 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 0;
  padding-top: 2%;
  padding-bottom: 0;
  color: inherit;
}

/* Icons */
.footbar {
  margin: 0 auto;
  padding: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 22%;
}

.footbar li {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.footbar li a:link {
  font-size: 20px;
  color: inherit;
  text-decoration: none;
}

.footbar li a:visited {
  color: inherit;
}

.footbar li a:hover, footer ul li a:active {
  color: aliceblue;
}

.fa-envelope {
  font-size: 50px;
}

.fa-linkedin {
  font-size: 50px;
}

.fa-github {
  font-size: 50px;
}

.fa-chess-rook {
  font-size: 50px;
}

/* Personal Library */
#library {
  background-color: inherit;
  margin-top: 80px;
  height: 100%;
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

#library h1 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: normal;
  color: inherit;
}

.librarysection {
  margin-top: 3%;
  margin-left: 25%;
  font-weight: bold;
  color: inherit;
}

.librarylist {
  margin-left: 24%;
  margin-bottom: 3%;
  color: inherit;
  line-height: 1.2cm;
}

#library h1 a {
  text-decoration: none;
  color: inherit;
}

#library h1 a:visited {
  color: inherit;
}

#library h1 a:hover, #library h1 a:active {
  opacity: 0.7;
}

.fa-arrow-circle-left {
  font-size: 80px;
}

/* MPortfolio */
#MPortfolio {
  background-color: inherit;
  margin-top: 80px;
  height: 100%;
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

#MPortfolio h1 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: normal;
  color: inherit;
}

#MPortfolio h1 a {
  text-decoration: none;
  color: inherit;
}

#MPortfolio h1 a:visited {
  color: inherit;
}

#MPortfolio h1 a:hover, #MPortfolio h1 a:active {
  opacity: 0.7;
}

/* Row */
.rowcards {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mportcard {
  margin: 0 auto;
  background-color:rgb(196, 218, 235);
  color: inherit;
  height: 375px;
  width: 375px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: transform 0.4s;
}

.mportcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.4);
  z-index: 5;
}

.mportcard-blank {
  margin: 0 auto;
  background-color: transparent;
  color: none;
  height: 375px;
  width: 375px;
}

.mportcardtext {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.mportcardtext h1 {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  font-size: 20px!important;
  font-weight: bold;
  color: inherit;
}

.mportcardtext p {
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 12px;
  text-align: left;
  color: inherit;
}

.mportcardtext p a {
  color: inherit;
  text-decoration: none;
}

.mportcardtext p a:hover {
  color: aliceblue;
}

.mportcard ul {
  font-size: 12px;
  text-align: left;
  padding-right: 25px;
}

.competency {
  margin: 0 auto;
  margin-right: 25px;
  font-size: 12px;
  position: absolute;
  bottom: 15px;
  left: 25px;
  color: #000;
  text-align: left;
}

/*********************
All the dark mode stuff
*********************/
.dark-mode {
  background-color: #1e2b35;
  color: aliceblue;
}

.dark-mode header {
  background-color:#015a66;
}

.dark-mode #navitems a:link {
  color: aliceblue;
}

.dark-mode #navitems a:visited {
  color: aliceblue;
}

.dark-mode #navitems a:hover, .dark-mode #navitems a:active {
  color: gold;
}

.dark-mode nav button:hover, nav button:active {
  color: gold;
}

.dark-mode #profilepic {
  box-shadow: none;
}

.dark-mode #otherlinks h3 {
  background-color: #015a66;
  box-shadow: none;
}

.dark-mode footer {
  background-color: #015a66;
  box-shadow: none;
}

.dark-mode .frontcard {
  background-color: #015a66;
}

.dark-mode #testimonialslides {
  background-color: #015a66;
}

.dark-mode .footbar li a:hover, .dark-mode footer ul li a:active {
  color: gold;
}

.dark-mode .w3-text-black{color: aliceblue!important}
.dark-mode .w3-badge{background-color:#FFF!important; color: aliceblue!important}
.dark-mode .w3-transparent{background-color: transparent!important}
.dark-mode .w3-border{border:1px solid #FFF!important}
.dark-mode .w3-black, .dark-mode .w3-hover-black:hover{color:#FFF!important;background-color:aliceblue!important}

.dark-mode .mportcard {
  background-color: #015a66;
  border: 0.2px solid #1e2b35;
  box-shadow: none;
}

.dark-mode .mportcardtext p a:hover {
  color: gold;
}

.dark-mode .competency {
  color: aliceblue;
}

/* For users who like dark */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e2b35;
    color: aliceblue;
  }
  
  header {
    background-color:#015a66;
  }

  #navitems a:link {
    color: aliceblue;
  }
  
  #navitems a:visited {
    color: aliceblue;
  }
  
  #navitems a:hover, #navitems a:active {
    color: gold;
  }

  nav button:hover, nav button:active {
    color: gold;
  }

  #profilepic {
    box-shadow: none;
  }
  
  #otherlinks h3 {
    background-color: #015a66;
    box-shadow: none;
  }
  
  footer {
    background-color: #015a66;
    box-shadow: none;
  }
  
  .frontcard {
    background-color: #015a66;
  }
  
  #testimonialslides {
    background-color: #015a66;
  }
  
  .footbar li a:hover, footer ul li a:active {
    color: gold;
  }
  
  .w3-text-black{color: aliceblue!important}
  .w3-badge{background-color:#FFF!important; color: aliceblue!important}
  .w3-transparent{background-color: transparent!important}
  .w3-border{border:1px solid #FFF!important}
  .w3-black, .w3-hover-black:hover{color:#FFF!important;background-color:aliceblue!important}

  .mportcard {
    background-color: #015a66;
    border: 0.2px solid #1e2b35;
    box-shadow: none;
  }

  .mportcardtext p a:hover {
    color: gold;
  }

  .competency {
    color: aliceblue;
  }

  /* Light mode for dark users */
  .light-mode {
    background-color: aliceblue;
    color: rgba(0, 0, 0, 0.69420); 
  }

  .light-mode header {
    background: rgb(196, 218, 235);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .light-mode #navitems a:link {
    color: rgba(0, 0, 0, 0.69420);
  }
  
  .light-mode #navitems a:visited {
    color: rgba(0, 0, 0, 0.69420);
  }
  
  .light-mode #navitems a:hover, .light-mode #navitems a:active {
    color: aliceblue;
  }

  .light-mode nav button:hover, nav button:active {
    color: aliceblue;
  }
  
  .light-mode #profilepic {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .light-mode #otherlinks h3 { 
    background-color: rgb(196, 218, 235);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  }
  
  .light-mode footer {
    background-color: rgb(196, 218, 235);
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.2);
  }
  
  .light-mode .frontcard {
    background-color: rgb(196, 218, 235);
  }
  
  .light-mode #testimonialslides {
    background-color: rgb(196, 218, 235);
  }
  
  .light-mode .footbar li a:hover, .light-mode footer ul li a:active {
    color: aliceblue;
  }
  
  .light-mode .w3-text-black{color: rgba(0, 0, 0, 0.69420)!important}
  .light-mode .w3-badge{background-color:#000!important; color: rgba(0, 0, 0, 0.69420)!important}
  .light-mode .w3-transparent{background-color: transparent!important}
  .light-mode .w3-border{border:1px solid #000!important}
  .light-mode .w3-black, .light-mode .w3-hover-black:hover{color:#000!important;background-color:rgba(0, 0, 0, 0.69420)!important}

  .light-mode .mportcard {
    background-color: rgb(196, 218, 235);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .light-mode .mportcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .light-mode .mportcardtext p a:hover {
    color: aliceblue;
  }

  .light-mode .competency {
    color: #000;
  }
}

/* Phone compatibility */
@media screen and (max-width: 600px) {
  header {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  #intro {
    margin-top: 30px;
  }

  #branding a {
    font-size: 0px;
  }

  #navitems a:link {
    font-size: 10px;
  }

  .fa-moon, .fa-sun {
    font-size: 16px;
  }

  #profilepic {
    width: 200px;
  }

  #intro h1 {
    font-size: 30px;
  }

  .block h1 {
    font-size: 26px;
  }

  #aboutme h2 {
    font-size: 14px;
    line-height: 0.6cm;
    width: 80%;
  }

  .fa-university {font-size: 20px}
  .fa-car {font-size: 20px}
  .fa-briefcase {font-size: 20px}
  .fa-music {font-size: 20px}
  .fa-book {font-size: 20px}

  #otherlinks h3 {
    font-size: 10px;
  }

  .jobcard {
    height: 80px;
    width: 300px;
    max-width: 80%;
  }

  .role h2 {
    font-size: 12px;
    line-height: 1.5em;
  }

  .timeframe h2 {
    font-size: 9px;
    line-height: 1.2em;
  }

  footer h1 {
    font-size: 25px;
  }

  .footbar {
    width: 50%;
  }

  .footbar a:link {
    font-size: 10px;
  }

  .fa-envelope {font-size: 30px}
  .fa-linkedin {font-size: 30px}
  .fa-github {font-size: 30px}
  .fa-chess-rook {font-size: 30px}
}